openapi: 3.0.0
info:
  title: PALERMO API
  description: API para la gestión de remisiones de la empresa Palermo
  version: 1.0.0
servers: 
  - url: https://modulogeinsp.com/palermo/api
    description: Servidor de producción
  - url: http://localhost:3000/palermo/api
    description: Servidor local
tags:
  - name: Auth
    description: Autenticación de usuarios, generacion de token
  - name: Remissions
    description: Gestion de remisiones 
  - name: Terminal
    description: Optiene fecha y hora de entrada y salida de la terminal 

paths:
  # Path: auth
  /auth:
    post:
      tags:
        - Auth
      summary: Autenticación
      description: Genera un token de autenticación
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InVzdWFyaW8xQGdtYWlsLmNvbSIsImlhdCI6MTYxNzQwNjYwMCwiZXhwIjoxNjE3NDEwMjAwfQ.7'
  # Path: remissions
  /remissions:
    get:
      tags:
        - Remissions
      summary: Listar remisiones
      description: Lista todas las remisiones
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Remission'
    put:
      tags:
        - Remissions
      summary: Actualizar remisión
      description: Actualiza el estado de una remisión
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRemission'
      responses:
        '202':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Remisión No 12654 actualizada con éxito"
  /remissions/{remissionNumber}:
    get:
      tags:
        - Remissions
      summary: Remision por número
      description: Obtiene una remisión por su número
      parameters:
        - name: remissionNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Remission'

  /remissions/fechaentrada/{remissionNumber}:
    get:
      tags:
        - Terminal
      summary: Entrada a la terminal
      description: Obtiene la fecha y hora de entrada a la terminal
      parameters:
        - name: remissionNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateRemission'
                
                
  /remissions/fechasalida/{remissionNumber}:
    get: 
      tags:
        - Terminal
      summary: Salida de la terminal
      description: Obtiene la fecha y hora de salida de la terminal
      parameters:
        - name: remissionNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateRemission'

components:
  schemas:
    Auth:
      type: object
      properties:
        username:
          type: string
          example: 'usuario1@example.com'
        password:
          type: string
          example: '123456'
    Remission:
      type: object
      properties:
        no_remision:
          type: string
          example: '0001'
        fecha_hora_cargue:
          type: string
          example: '2021-04-01T10:00:00'
        placa_carro:
          type: string
          example: 'ABC123'
        cedula_conductor:
          type: string
          example: '1234567890'
        nombre_conductor:
          type: string
          example: 'Juan Perez'
        producto:
          type: string
          example: 'HOPO'
    UpdateRemission:
      type: object
      required:
        - token
        - noremision
      properties:
        estado:
          type: string
          example: 'DESCARGADO'
        terminal:
          type: string
          example: 'PALERMO'
        usuario:
          type: string
          example: 'usuario1@gmail.com'
        token:
          type: string
          example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InVzdWFyaW8xQGdtYWlsLmNvbSIsImlhdCI6MTYxNzQwNjYwMCwiZXhwIjoxNjE3NDEwMjAwfQ.7'
        noremision:
          type: string
          example: '0001'
    DateRemission:
      type: object
      properties:
        fecha_hora:
          type: string
          example: '2021-04-01T10:00:00'
          format: date-time
    